{% extends 'base.html' %}
{% comment %} this is the expenses create {% endcomment %}

{% block content %}
    <div>
        <h1>Creating an Expense Category</h1>
        <form method ="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button> Create</button>
        </form>
    </div>
{% endblock content %}