{% extends 'base.html' %}

{% comment %} this is expenses' list {% endcomment %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for banana in expensecategory_list %}
        <tr>
            <td>{{ banana.name }}</td>
            <td>{{ banana.receipts.all|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}