<!doctype html>
<html lang="en">
    <head>
        <title>MY RECEIPTS!</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'home' %}">Receipts</a>
                    </li>
                    <li>
                        <a href="{% url 'create_accounts' %}">Create Account</a>
                    </li>
                    <li>
                        <a href="{% url 'account_list' %}">Accounts</a>
                    </li>
                    <li>
                        <a href="{% url 'expenses_create' %}">Create an Expense</a>
                    </li>
                    <li>
                        <a href="{% url 'expenses_list' %}">Expenses</a>
                    </li>
                    <li>
                        <a href="{% url 'create_receipt' %}">Create a Receipt</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'signup' %}">Sign Up</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    </body>
</html>

