{% extends 'base.html' %}
{% comment %} <p> This is the accounts create</p> {% endcomment %}

{% block content %}

<div>
    <h1> Creating an account within Receipts</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
</div>

{% endblock content %}
