{% extends 'base.html' %}

{% comment %} <p> this is accounts list</p> {% endcomment %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for waterbottle in account_list %}
        <tr>
            <td>{{ waterbottle.name }}</td>
            <td>{{ waterbottle.number }}</td>
            <td>{{ waterbottle.receipts.all|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}