<!doctype html>
<html lang="en">
    <head>
        <title>Login</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <div>
                <button>Login</button>        
            <div>
        </form>
    </body>
</html>