<!doctype html>
<html lang="en">
    <head>
        <title>Join the ranks of us!</title>
    </head>
    <body>
        <div>
            <h1> Signup </h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button> SignupLOSER! </button>
            </form>
        </div>
    </body>
</html>