{% extends 'base.html' %}
{% comment %} <p> this is the receipt create</p> {% endcomment %}

{% block content %}
    <div>
        <h1>Creating an Receipt</h1>
        <form method ="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button> Create</button>
        </form>
    </div>
{% endblock content %}