{% extends 'base.html' %}
{% block content %}
<table>
    <thead>
        <tr>
            <td>Vendor</td>
            <td>Total</td>
            <td>Tax</td>
            <td>Date</td>
            <td>Category</td>
            <td>Account</td>
        </tr>
    </thead>
    <tbody>
        {% for receipt in receipt_list %}
        <tr>
            <td>{{ receipt.vendor }}</td>
            <td>{{ receipt.total }}</td>
            <td>{{ receipt.tax }}</td>
            <td>{{ receipt.date }}</td>
            <td>{{ receipt.category.name }}</td>
            {%  if receipt.account.name == None %}
                <td>Cash</td>
            {% else %}
            <td>{{ receipt.account.name }}</td>
                {% comment %} If account is None, then output "Cash" instead of none {% endcomment %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}